.img-other {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .img-back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .animationText {
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: 6;
    animation-delay: 2s;
  }
  
  @keyframes example {
    0%   {left:0%; top:0%;}
    25%  {left:30%; top:0%;}
    50%  {left:60%; top:0%;}
    75%  {left:30%; top:0%;}
    100% {left:0%; top:0%;}
  }

.headerStyle {
    font-family: "Times New Roman", Times, serif;
    color: #00004d;
}
.bodyBackground{
    background-color: #f2f2f2;
}
.imageDiv{
  background-color: #ffe6e6;
}